---
layout: home
header:
  overlay_image: /assets/images/sitebanner.jpg
author_profile: true
title: "The Gradient of Me"
excerpt: "Hi, I'm Ben. Welcome to my website on all things learning, machine or otherwise."
---

<div class=project-info-block>
  <h1 style="margin: 0 0 0; font-size:44px">Sample Work</h1>
  {% for item in site.data.navigation.topprojectlist %}
  {% for item2 in site.data.projectdata.personalprojects %}
  {% if item.title == item2.title %}
      <h2 style="margin:1em 0 0.5em;">{{ item.title }}</h2>
      <!-- <div class=image-block> -->
        <a href="{{ item2.url }}">
        <img src="{{ item2.imglink }}" alt="{{ item2.title }}" width='1080' class=image-block>
      <!-- </div> -->
        </a>
    <!-- <p>{{item2.content}}</p> -->
  <div class=separation-border style="margin-top:1em;"></div>
  {% endif %}
  {% endfor %}
  {% endfor %}
</div>

<!-- <div class="home-row">
  <div class="home-column">
    <h2>Column 1</h2>
    <p>Details and stuff</p>
    <img src="/assets/images/greenbeans.jpg" alt="Column1Img" width="128" height="128">
  </div>
  <div class="home-column">
    <h2>Column 2</h2>
    <p>Details and stuff</p>
    <img src="/assets/images/greenbeans.jpg" alt="Column2Img" width="128" height="128">
  </div>
  <div class="home-column">
    <h2>Column 3</h2>
    <p>Details and stuff</p>
    <img src="/assets/images/greenbeans.jpg" alt="Column3Img" width="128" height="128">
  </div>
</div> -->
