---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}
  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    <h2>Coursework</h2>
    <!-- <div class=separation-border style="width:100%; padding-top:0em;"></div> -->
    {% for item in site.data.projectdata.schoolwork %}
    <div class="archsec">
      <a href={{item.url}}>
        <div class="archived-projects">
          <div class="thumbnail-image" style="background-image: url('{{item.imglink}}'); background-size: cover; background-position: center; height:100%; width:200px;">
          <!-- <img src="{{ item.imglink }}" alt="{{item.title}}" class="thumbnailimage"> -->
          </div>
          <div class="project-details">
            <div class="project-title">
              {{item.title}}
            </div>
            <div class="project-content">
              {{item.content}}
            </div>
          </div>
        </div>
      </a>
      <div class=separation-border></div>
    </div>
    {% endfor %}
    <h2>Personal Projects</h2>
    <!-- <div class=separation-border style="width:100%; padding-top:0em;"></div> -->
    {% for item in site.data.projectdata.personalprojects %}
    <div class="archsec">
      <a href={{item.url}}>
        <div class="archived-projects">
          <div class="thumbnail-image" style="background-image: url('{{item.imglink}}'); background-size: cover; background-position: center; height:100%; width:200px;">
          <!-- <img src="{{ item.imglink }}" alt="{{item.title}}" class="thumbnailimage"> -->
          </div>
          <div class="project-details">
            <div class="project-title">
              {{item.title}}
            </div>
            <div class="project-content">
              {{item.content}}
            </div>
          </div>
        </div>
      </a>
      <div class=separation-border></div>
    </div>
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>

</div>
